.homeContainer{
  display: flex;
  width: 70%;
  height:90%;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  border-radius:15px;
  background-color: rgba(62,62,63,0.7);
  border: 1px solid rgba(255,255,255);
  margin: 0 auto;
}
.recipeCard{
  display: flex;
  flex-grow: 3;
  width: 20vw;
  height: 23vh;
  margin: 1vh 1vw;
  border-radius:15px;
  opacity: 1;
}
.recipeCard:hover{
  opacity: 0.5;
}
.textTitle{
  font-size: 2vh;
  color: white;
  margin: auto 0.1vw;
}