.mainPage{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width: 50%;
  height: auto;
  margin: 3vh auto;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 1vh;
  background:rgba(63, 64, 60, 0.7);
  border-radius:15px;
}
.labelInput{
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: 1px solid rgba(255,255,255);
  padding:0.5vh 1vw;
  border-radius:5px;
}
.inputText{
  height: 3vh;
  width: 30vw;
  margin: 1vh 0;
}
input, textarea{
  padding:0 10px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  font-size:1.2rem;
  border: 1px solid white;
}
.txtArea{
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  color: white;
  z-index: 2;
  resize: none;
  border-radius:15px;
}
.file{
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.mandatory{
 color: red;
 font-size: 1.6rem;
}
.error{
  border:1px solid red;
  background-color: rgba(219, 7, 7, 0.7);
  color: rgb(255, 255,255);
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  left: 10vw;
  text-shadow: 0 0 30px #fff;
}