.landing{
  display:flex;
  flex-direction: column;
}
.love{
  color: white;
  font-size: 6rem;
  margin-right: 40vw;
}
.btn{
  background-color:black;
  height: 5vh;
  width: 15vh;
  font: size 3rem;
  font-weight:bold;
  color: white;
  border-radius:10px;
  outline: white;
  margin-left: 25vw;
}
.btn:hover{
  background-color:white;
  color: black;
}