.position{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 35vw;
  height: auto;
  border: radius 15px;
  background-color: transparent;
}
.errorText{
  font: size 5rem;
  font-weight:bold;
  color:rgb(95, 3, 3, 0.7)
}