.position{
  position: absolute;
  width: 5vw;
  height: auto;
  border: radius 15px;
  border: 1px solid rgb(95, 3, 3, 0.7);
  top:3em;
  left:0;
}
.errorText{
  font: size 2rem;
  font-weight:bold;
  color:rgb(95, 3, 3, 0.7)
}